.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: yellow;
}

.Form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
}

.formDiv {
  display: flex;
  justify-content: center;
}








.list-Div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 100px;
  background-color: red;
  border: 2px solid black;
}
